<div class="container col-10" style="margin-top: 30px">
    <div class="row flex-row">
        <div class="col-7 flex-column">
            <h4>List Student</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address Id</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let student of students">
                    <th scope="row">{{student.id.substring(student.id.length-5)}}</th>
                    <td>{{student.name}}</td>
                    <td>{{student?.addressId.substring(student?.addressId.length-5)}}</td>
                    <td>
                        <button (click)="deleteStudent(student.id)" type="button" class="btn btn-danger">X</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col flex-column">
            <h4>List Address</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">City</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let address of addresses">
                    <th scope="row">{{address.id.substring(address.id.length-5)}}</th>
                    <td>{{address.city}}</td>
                    <td>
                        <button (click)="deleteAddress(address.id)" type="button" class="btn btn-danger">X</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div>
        <form #form="ngForm">
            <div class="form-group">
                <input
                    required
                    type="text"
                    class="form-control"
                    #addressInput="ngModel"
                    placeholder="Enter address"
                    name="address.city"
                    [(ngModel)]="address.city">
            </div>
            <div class="form-group">
                <input
                    required
                    type="text"
                    class="form-control"
                    #nameInput="ngModel"
                    placeholder="Enter name"
                    name="student.name"
                    [(ngModel)]="student.name">
            </div>
            <button
                [disabled]="!form.form.valid"
                type="button"
                (click)="save()">
                Save
            </button>
        </form>
    </div>
</div>

